@import "root";

// side
.sideWrap {
  width: 300px;
  height: 100%;
  @include flexJustifyCenter;
  justify-content: space-between;
  padding: 30px;
  border-right: 1px solid $black2Color;
  .logo {
    font:{
      size: 30px;
      weight: $boldFont;
    }
    display: inline-block;
    cursor: pointer;
    color: $black4Color;
    span {
      color: $mainColor;
    }
  }
  .userInfo {
    width: 100%;
    @include flexJustifyCenter;
    margin-top: 50px;
    .userNm {
      margin-bottom: 5px;
      font-size: 18px;
    }
    .userId {
      border-radius: 20px;
      background-color: $black2Color;
      padding: 3px 10px;
      font-size: 12px;
    }
  }
  .sideList {
    width: 100%;
    @include flexJustifyCenter;
    margin-top: 100px;
    padding-bottom: 100px;
    .menu {
      width: 100%;
      padding:{
        top: 10px;
        bottom: 10px;
        left: 20px;
      }
      margin-bottom: 30px;
      cursor: pointer;
      border-radius: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        color: $mainColor;
      }
      &.on {
        font-weight: $boldFont;
        color: $mainColor;
        background-color: rgba(248, 138, 28, 0.1);
      }
    }
  }
  .logoutWrap {
    width: 100%;
    height: 50px;
    @include flexAlignCenter;
    .logout {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      margin-left: 20px;
    }
  }
}